# This is Git's per-user configuration file.
[user]
	name = stove-panini
	email = s.panicho@gmail.com
[core]
	excludesfile = /var/home/stephen/.gitignore_global
[includeIf "gitdir:~/Projects/SAGE/"]
	path = ~/Projects/SAGE/.gitconfig
[pull]
	rebase = false
