# ranger history & bookmarks
ranger/.config/ranger/history
ranger/.config/ranger/bookmarks

# python cache (from ranger)
**/__pycache__

# vim plugins n colors
#vim/.vim/

# weechat logs & crypt
weechat/.weechat/sec.conf
weechat/.weechat/weechat.log
weechat/.weechat/logs/

# tmux plugins
tmux/.tmux/plugins/
tmux/.tmux/resurrect/
