# don't share the vim undo folder or file history
vim/.vim/undo/**
vim/.vim/.netrwhist

# or vim swapfiles
*.swp

# ranger history & bookmarks
ranger/.config/ranger/history
ranger/.config/ranger/bookmarks

# python cache (from ranger)
*/__pycache__
