# ranger history & bookmarks
ranger/.config/ranger/history
ranger/.config/ranger/bookmarks

# python cache (from ranger)
**/__pycache__

# vim plugins n colors
neovim/.config/nvim/autoload/
neovim/.config/nvim/colors/
neovim/.config/nvim/plugged/

# weechat logs
weechat/.weechat/logs/
