! --- colors ---

! Base16 Tomorrow
! Scheme: Chris Kempson (http://chriskempson.com)

*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

*.color0:       #1d1f21
*.color1:       #cc6666
*.color2:       #b5bd68
*.color3:       #f0c674
*.color4:       #81a2be
*.color5:       #b294bb
*.color6:       #8abeb7
*.color7:       #c5c8c6
*.color8:       #969896
*.color9:       #cc6666
*.color10:      #b5bd68
*.color11:      #f0c674
*.color12:      #81a2be
*.color13:      #b294bb
*.color14:      #8abeb7
*.color15:      #ffffff


! --- urxvt ---

! fonts
URxvt.font: xft:terminus:pixelsize=11:antialias=false
URxvt.boldFont: xft:terminus:bold:pixelsize=11:antialias=false

! fuck a scroll bar
URxvt.scrollBar: false

! no beeps, but lemme know if yer mad, okay?
URxvt.visualBell: true
URxvt.urgentOnBell: true

! blink the cursor
URxvt.cursorBlink: true
! fade text when window is unfocused
URxvt.fading: 30

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! disable scrollback buffer in a pager
URxvt.secondaryScreen: true
!URxvt.secondaryScroll: false

! clickable urls
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1
URxvt.colorUL: #729fcf


! --- xautolock ---

Xautolock.time: 10
Xautolock.locker: i3lock --dpms --ignore-empty-password --image=/home/stove/.local/share/i3/lock.png --tiling
