! --- fonts ---
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.dpi: 96


! --- urxvt ---

! fonts
URxvt.font: xft:terminus:pixelsize=11:antialias=false
URxvt.boldFont: xft:terminus:bold:pixelsize=11:antialias=false

! fuck a scroll bar
URxvt.scrollBar: false

! no beeps, but lemme know if yer mad, okay?
URxvt.visualBell: true
URxvt.urgentOnBell: true

! blink the cursor
URxvt.cursorBlink: true
! fade text when window is unfocused
URxvt.fading: 30

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! disable scrollback buffer in a pager
URxvt.secondaryScreen: true
URxvt.secondaryScroll: false

! clickable urls
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/x-www-browser
URxvt.matcher.button: 1
URxvt.colorUL: #729fcf


! --- xautolock ---

Xautolock.time: 10
Xautolock.locker: i3lock --dpms --ignore-empty-password --image=/home/stove/Pictures/wallpaper/lock-mona_lisa.png
