#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Spotify - Music for every moment
Exec=/usr/bin/chromium --profile-directory=Default --app-id=cnkjkdjlofllcpbemipjbcpfnglbgieh
Icon=chrome-cnkjkdjlofllcpbemipjbcpfnglbgieh-Default
StartupWMClass=crx_cnkjkdjlofllcpbemipjbcpfnglbgieh
